body {
    background-color: red;
}
h1 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td {
    padding: 0px 0px 0px 0px;
    border: thick solid black;
}